
<img class="loader" src="https://s3.amazonaws.com/mafserverless/loader.gif" *ngIf="loader">

<div class="container-fluid p-0">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="https://s3.amazonaws.com/mafserverless/Home+Banner+Background.svg" alt="Los Angeles" style="width:100%;">
        <div class="carousel-caption">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-6">
                <div class="">
                  <p class="wehelp animated bounceInLeft">We help you<br> maximise your financial <br>
                    for a better future</p>
                  <button class="btn btn-default btn-lg join-btn">
                    <a [routerLink]="['/register']">Join Us</a>

                  </button>
                </div>
              </div>
              <div class="col-md-6 animated bounceInRight">
                <img src="https://s3.amazonaws.com/mafserverless/Home+Page+banner+Image.svg" style="width:90%">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="item">
        <img src="https://s3.amazonaws.com/mafserverless/Home+Banner+Background.svg" alt="Los Angeles" style="width:100%;">
        <div class="carousel-caption">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-6">
                <div class="">
                  <p class="wehelp">We help you<br> maximise your financial <br>
                    for a better future</p>
                  <button class="btn btn-default btn-lg join-btn">
                    <a [routerLink]="['/register']">Join Us</a>

                  </button>
                </div>
              </div>
              <div class="col-md-6">
                <img src="https://s3.amazonaws.com/mafserverless/Home+Page+banner+Image.svg" style="width:90%">
              </div>
            </div>
          </div>
        </div>
      </div>  -->



    </div>

    <!-- Left and right controls -->
    <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a> -->
  </div>
</div>
<!-- 
			=============================================
				What We Do
			============================================== 
			-->
<div class="what-we-do p-b-80">
  <div class="container">
    <h3 class="f-28 animated bounceInLeft m-h3">Make your move by becoming a business owner in the financial industry- armed with our system,
      technology,
      marketing, leadership, business model, and training.Take the next step with one of our associates today.</h3>
    <h6></h6>

    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInLeft">
        <div class="single-block">
          <div class="icon color-one"><i class="flaticon-note"></i></div>
          <h6>Equal Opportunity</h6>
          <h5><a class="tran3s">Everyone starts at top compensation</a></h5>
        </div> <!-- /.single-block -->
      </div> <!-- /.col- -->
      <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp">
        <div class="single-block">
          <div class="icon color-two middle-block"><i class="flaticon-bar-chart2"></i></div>
          <h6>Nationwide</h6>
          <h5><a class="tran3s">Build Business with full-time thinkers</a></h5>
        </div> <!-- /.single-block -->
      </div> <!-- /.col- -->
      <div class="col-md-4 hidden-sm col-xs-12 wow fadeInRight">
        <div class="single-block">
          <div class="icon color-three"><i class="flaticon-diamond"></i></div>
          <h6>Revenue Sharing</h6>
          <h5><a class="tran3s">Lifetime company revenue sharing</a></h5>
        </div> <!-- /.single-block -->
      </div> <!-- /.col- -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div> <!-- /.what-we-do -->

<!-- 
			=============================================
				More About Us
			============================================== 
			-->
<div class="more-about-us p-b-80">
  <div class="image-box abt-image-box  animated bounceInLeft" >
    <svg version="1.1" class="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      width="854" height="632">
      <clipPath class="clip1">
        <use xlink:href="#shape-one" />
      </clipPath>
      <g clip-path="url(#shape-one)">
        <!-- <image width="854" height="632" href="assets/images/home/2.jpg" class="image-shape">
        </image> -->
        <image width="854" height="632" href="https://s3.amazonaws.com/mafserverless/Group+144.svg" class="image-shape">
        </image>
        <!-- <image width="854" height="632" href="../../../assets/imgs/Home Page  Image 1.jpg" class="image-shape">
        </image> -->
      </g>
    </svg>
  </div>
  <!-- <div class="theme-shape-three"></div> -->
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-offset-5">
        <div class="main-content ">
          <h2 class="m-h3">Your future is in right hands with
            Max Agent Financial</h2>
          <div class="main-wrapper">
            <h4 class="animated bounceInRight">Independent financial services organisation</h4>
            <p class="animated bounceInRight">We are building a new Industry & replace the old outdated
              one by educating families on various financial concepts
              in general & learn how to regain control of your money.</p>
            <img src="https://s3.amazonaws.com/mafserverless/sign.png" alt="sign">
            <!-- <img src="../../../assets/images/home/sign.png" alt="sign"> -->
            <div class="button-wrapper p-bg-color mafbackground">
              <span class="white">Learn More</span>
              <a [routerLink]="['/aboutus']" class="hvr-icon-wobble-horizontal">More About us <i class="fa fa-long-arrow-right"
                  aria-hidden="true"></i></a>
            </div> <!-- /.button-wrapper -->
          </div> <!-- /.main-wrapper -->
        </div> <!-- /.main-content -->
      </div> <!-- /.col- -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div> <!-- /.more-about-us -->


<!-- 
			=============================================
				Home Service Section
			============================================== 
			-->
<div class="home-service-section p-b-80">
  <div class="container">
    <div class="col-md-9 col-md-offset-3 main-container" style="z-index:99">
      <div class="theme-title">
        <!-- <h6>Our Services</h6> -->
        <h2 class="m-h3">To create more financially<br>
          independent families</h2>
        <p>We’ve strong work history with different business services</p>
        <a class="tran3s">See All Services</a>
      </div> <!-- /.theme-title -->
      <ul class="clearfix row">
        <li class="col-md-6">
          <div>
            <i class="flaticon-user"></i>
            <h5><a class="tran3s">College Planning</a></h5>
            <p>Lorem ipsum dolor sit amet, percipitur sadipscing. </p>
          </div>
        </li>
        <li class="col-md-6">
          <div>
            <i class="flaticon-layers"></i>
            <h5><a class="tran3s">Proper Insurance</a></h5>
            <p>Lorem ipsum dolor sit amet, percipitur sadipscing. </p>
          </div>
        </li>
        <li class="col-md-6">
          <div>
            <i class="flaticon-bar-chart"></i>
            <h5><a class="tran3s">Retirement Investment</a></h5>
            <p>Lorem ipsum dolor sit amet, percipitur sadipscing. </p>
          </div>
        </li>
        <li class="col-md-6">
          <div>
            <i class="flaticon-smartphone"></i>
            <h5><a class="tran3s">Final Expense</a></h5>
            <p>Lorem ipsum dolor sit amet, percipitur sadipscing. </p>
          </div>
        </li>
      </ul>
    </div> <!-- /.main-container -->
    <!-- <img src="../../../assets/images/home/shape-2.png" alt="Image" class="wow fadeInLeft"> -->
    <img src="https://s3.amazonaws.com/mafserverless/Home+page+Abstract.png" alt="Image" class="wow fadeInLeft">

  </div> <!-- /.container -->
</div> <!-- /.home-service-section -->

<!-- 
				=============================================
					Testimonial
				============================================== 
				-->
<div class="testimonial-section p-b-80">
  <div class="t-i-b image-box wow fadeInLeft">
    <svg version="1.1" class="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      width="854" height="630">
      <clipPath class="clip1">
        <use xlink:href="#shape-one" />
      </clipPath>
      <g clip-path="url(#shape-one)">

        <!-- <image href="../../../assets/imgs/testnomial.jpg" class="image-shape">
        </image> -->

        <image width="854" height="632" href="https://s3.amazonaws.com/mafserverless/Group+146.svg" class="image-shape">
        </image>
      </g>
    </svg>
  </div>
  <!-- <div class="theme-shape-four wow fadeInLeft"></div> -->
  <div class="container">
    <div class="main-container col-md-6 col-md-offset-6">
      <div class="theme-title">
        <h6>Testimonials</h6>
        <h2>Check what’s our client <br>Say about us</h2>
      </div> <!-- /.theme-title -->
      <div class="testimonial-slider">
        <div id="tmyCarousel" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="https://s3.amazonaws.com/mafserverless/Home+Banner+Background.svg" alt="Los Angeles">
              <div class="carousel-caption tcarousel-caption">
                <div class="wrapper">
                  <p>Their testimonial videos aren't production quality, but they get the message across, cover
                    useful
                    &amp; relevant information which goes to show you don't need to invest thousands in production
                    get some
                    testimonial videos up with quality. </p>
                  <div class="name clearfix">

                    <img src="https://s3.amazonaws.com/mafserverless/home/3.jpg" alt="">
                    <h5 class="t-s">Rashed Kabir</h5>
                    <span class="t-s">Gazipur</span>

                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <img src="https://s3.amazonaws.com/mafserverless/Home+Page+banner+background.svg" alt="Chicago" style="width:100%;">
              <div class="carousel-caption tcarousel-caption">
                <div class="wrapper">
                  <p>Their testimonial videos aren't production quality, but they get the message across, cover
                    useful
                    &amp; relevant information which goes to show you don't need to invest thousands in production
                    get some
                    testimonial videos up with quality. </p>
                  <div class="name clearfix">
                    <img src="https://s3.amazonaws.com/mafserverless/home/3.jpg" alt="">
                    <h5 class="t-s">Rashed Kabir</h5>
                    <span class="t-s">Gazipur</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Left and right controls -->
          <!-- <a class="left carousel-control" href="#tmyCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#tmyCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                  </a> -->
        </div>
      </div>
    </div> <!-- /.main-container -->
  </div> <!-- /.container -->
</div> <!-- /.testimonial-section -->


<!-- 
			=============================================
				Our News Section
			============================================== 
			-->
<div class="home-blog-section p-b-80 m-t-100">
  <div class="container">
    <div class="theme-title text-center">
      <h6>Our News</h6>
      <h2>News from our company</h2>
    </div> <!-- /.theme-title -->
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="single-blog color-one">
          <img src="https://s3.amazonaws.com/mafserverless/6.jpg" alt="">
          <h6>Rashed Ka.</h6>
          <h5><a class="tran3s">Challange yourself to win the future</a></h5>
          <p>Their testimonial videos aren't production quality, but they get message across, cover useful & relevant
            information with tips.</p>
          <a href="blog-details.html" class="tran3s hvr-icon-wobble-horizontal">More Details <i class="fa fa-long-arrow-right"
              aria-hidden="true"></i></a>
        </div> <!-- /.single-blog -->
      </div> <!-- /.col- -->
      <div class="col-md-6 col-xs-12">
        <div class="single-blog color-two">
          <img src="https://s3.amazonaws.com/mafserverless/7.jpg" alt="">
          <h6>Jannatul Fa.</h6>
          <h5><a class="tran3s">Challange yourself to win the future</a></h5>
          <p>Their testimonial videos aren't production quality, but they get message across, cover useful & relevant
            information with tips.</p>
          <a class="tran3s hvr-icon-wobble-horizontal">More Details <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div> <!-- /.single-blog -->
      </div> <!-- /.col- -->
      <div class="col-md-6 col-xs-12">
        <div class="single-blog color-three">
          <img src="https://s3.amazonaws.com/mafserverless/8.jpg" alt="">
          <h6>Fred Johnston</h6>
          <h5><a class="tran3s">Challange yourself to win the future</a></h5>
          <p>Their testimonial videos aren't production quality, but they get message across, cover useful & relevant
            information with tips.</p>
          <a class="tran3s hvr-icon-wobble-horizontal">More Details <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div> <!-- /.single-blog -->
      </div> <!-- /.col- -->
      <div class="col-md-6 col-xs-12">
        <div class="single-blog color-four">
          <img src="https://s3.amazonaws.com/mafserverless/9.jpg" alt="">
          <h6>Austin Cross</h6>
          <h5><a class="tran3s">Challange yourself to win the future</a></h5>
          <p>Their testimonial videos aren't production quality, but they get message across, cover useful & relevant
            information with tips.</p>
          <a class="tran3s hvr-icon-wobble-horizontal">More Details <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div> <!-- /.single-blog -->
      </div> <!-- /.col- -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div> <!-- /.home-blog-section -->

<!--Video Section-->

<div class="container p-b-80">
  <div class="row">
    <div class="col-md-12">
      <iframe width="100%" height="516" src="https://www.youtube.com/embed/cq4OCO0Fjz8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
</div>


