.payment-page-img {
    position: relative;
  }
.p-img
{
    height: 800px;
    padding: 0px;
    /* width: 360px; */
}
.c-b-s {
    box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.18);
    border: 1px solid transparent;
}
.payment{
    border: 2px solid black;
    width: 400px;
    height: 350px;
    margin: 15% 10% 10% 35%;
}
table{
    width:100%;
}
td {
    padding:20px;
}
.p-btn{
    margin-top: 30px;
    margin-left: 120px;
}

.loader {
    position: absolute;
    left: 45%;
    top: 25%;
}
.p-r{
    background: #f1f6f9;
    padding: 20px;
    border-radius: 5px;
}
.p-l-r-88 {
    padding-left: 88px;
    padding-right: 88px;
}
.m-t-10 {
    margin-top: 10px;
}
.maf-logo {
    width: 45%;
    margin: 0px auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

/**Main*/

.about-page-banner {
    background: url(../../../assets/imgs/paymentbg.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
  }
  .inner-page-banner .opacity {
    text-align: center;
    background: transparent;
    padding: 220px 0 175px 0;
  }
  .inner-page-banner .opacity h1 {
    color: #000000;
    text-transform: capitalize;
  }
  .inner-page-banner .opacity ul li {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    margin: 40px 2px 0 2px;
    text-transform: uppercase;
    color: #929292;
    letter-spacing: 1.1px;
  }
  .inner-page-banner .opacity ul li a {color: #000000;}

  /**paypalBtn*/
  .paypalBtn {
    width: 400px; border:2px solid red;
  }
  .paypalBtn .zoid-outlet {
    background: red;
    color: #111;
    width: 400px !important;
}
.m-l-100 {
    margin-left:100px;
}
.f-w-b {
    font-weight: bold;
}
.p-l-h {
    padding-top: 25px;
    line-height: 25px;
}
/**Mobile*/

@media only screen and (max-width: 600px) {

    .m-l-100 {
        margin-left:40px;
    }
    .p-l-r-88{
        padding-left: 15px;
        padding-right: 15px;
    }
    .p-r {
        background: #f1f6f9;
        padding: 5px;
        border-radius: 5px;
    }
  }