<!-- <div class="m-130"></div>
<div class="container-fluid p-0 register-banner">
  <img src="https://s3.amazonaws.com/mafserverless/Agent+Landing+Page+banner.jpg">
  <div class="r-b-text">
    <p class="heading">Agent Registration</p>
    <p class="lead text-uppercase">Home/agent login</p>
  </div>
</div> -->

<div class="m-130"></div>
<div class="inner-page-banner contact-page-banner">
  <div class="opacity">
    <h1>Become an Agent</h1>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li>/</li>
      <li>agent login</li>
    </ul>
  </div> <!-- /.opacity -->
</div> <!-- /inner-page-banner -->

<!--get onboard-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Get onboarded as an agent in 3 steps</h2>
    </div>
  </div>
  <div class="row m-t-80">
    <div class="col-md-12">

      <div class="col-md-4">
        <div class="card">
          <div class="num">
            <img src="../../../assets/imgs/Number 1.svg" class="num-img">
          </div>
          <h4 class="p-t-b">Submit agent form</h4>
          <div>
            <p>
              Leverage a modern back-office with technology that helps you become an efficient and effective business
              owner.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="num">
            <img src="../../../assets/imgs/Number 2.svg" class="num-img">
          </div>
          <h4 class="p-t-b">Get your profile verified</h4>
          <div>
            <p>
              Leverage a modern back-office with technology tha helps you become an efficient and effective business
              owner.

            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="num">
            <img src="../../../assets/imgs/NUmber 3.svg" class="num-img">
          </div>
          <h4 class="p-t-b">Become an agent </h4>
          <div>
            <p>
              Leverage a modern back-office with technology that
              helps you become an efficient and effective business owner.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-t-80">
    <div class="col-md-12">
      <div class="col-md-4"></div>
      <div class="col-md-4 text-center">
        <button class="btn btn-default btn-lg submit-btn">GET STARTED</button>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>

<!--Why Join-->

<div class="container p-b-80">
  <div class="row m-t-80">
    <div class="col-md-12">
      <h2 class="text-center">Why join Max Agent Financial</h2>
    
    </div>
  </div>
  <div class="row m-t-80">
    <div class="col-md-12">

      <div class="col-md-4">
        <div class="card height-225">
          <div class="col-md-3">
            <img src="../../../assets/imgs/equal-opportunity.png">

          </div>
          <div class="col-md-9">

            <h6 class="p-b-15">Equal Opportunities</h6>
          </div>

          <div>
            <p class="p-t-70">
              Leverage a modern back-office with technology that helps you become an efficient and effective business
              owner.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card height-225">
          <div class="col-md-3">
            <img src="../../../assets/imgs/top-compensation.png">

          </div>
          <div class="col-md-9">

            <h6 class="p-b-15" style="margin-left:-10px;">Top Compensations</h6>
          </div>

          <div>
            <p class="p-t-70">
              Reach contacts, prospects, followers and your team with a digital marketing suite that brings your
              business to life.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card height-225">
          <div class="col-md-3">
            <img src="../../../assets/imgs/revenue-sharing.png">

          </div>
          <div class="col-md-9">

            <h6 class="p-b-15">Revenue Sharing</h6>
          </div>

          <div>
            <p class="p-t-70">
              Put our simple system to use so you can focus on growing your business instead of creating your own
             model.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-t-40">
    <div class="col-md-12">

      <div class="col-md-4">
        <div class="card height-225">
          <div class="col-md-3">
            <img src="../../../assets/imgs/back-office-support.png" >

          </div>
          <div class="col-md-9">

            <h6 class="p-b-15">Back Office Support</h6>
          </div>

          <div>
            <p class="p-t-70">
              Rely on our home office experts who manage commissions, licensing and more, so you don't have to.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card height-225">
          <div class="col-md-3">
            <img src="../../../assets/imgs/helpful-training.png" >

          </div>
          <div class="col-md-9">

            <h6 class="p-b-15">Helpful Training</h6>
          </div>

          <div>
            <p class="p-t-70">
              Grow constantly with mentorship and Guidance from WFG entrepreneurs who are dedicated to your success.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card height-225">
          <div class="col-md-3">
            <img src="../../../assets/imgs/build-teams.png">

          </div>
          <div class="col-md-9">

            <h6 class="p-b-15">Build Teams</h6>
          </div>

          <div>
            <p class="p-t-70">
              Enjoy compensation and advancement opportunities that are unlike anything else in the financial services
              industry.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Testimonials-->
<!-- 
				=============================================
					Testimonial
				============================================== 
				-->
<div class="testimonial-section">
  <div class="t-i-b image-box wow fadeInLeft">
    <svg version="1.1" class="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      width="854" height="630">
      <clipPath class="clip1">
        <use xlink:href="#shape-one" />
      </clipPath>
      <g clip-path="url(#shape-one)">

        <!-- <image href="../../../assets/imgs/testnomial.jpg" class="image-shape">
                </image> -->

        <image width="854" height="632" href="https://s3.amazonaws.com/mafserverless/Group+146.svg" class="image-shape">
        </image>
      </g>
    </svg>
  </div>
  <!-- <div class="theme-shape-four wow fadeInLeft"></div> -->
  <div class="container">
    <div class="main-container col-md-6 col-md-offset-6">
      <div class="theme-title">
        <h6>Testimonials</h6>
        <h2>Check what’s our client <br>Say about us</h2>
      </div> <!-- /.theme-title -->
      <div class="testimonial-slider">
        <div id="tmyCarousel" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="https://s3.amazonaws.com/mafserverless/Home+Banner+Background.svg" alt="Los Angeles">
              <div class="carousel-caption tcarousel-caption">
                <div class="wrapper">
                  <p>Their testimonial videos aren't production quality, but they get the message across, cover
                    useful
                    &amp; relevant information which goes to show you don't need to invest thousands in production
                    get some
                    testimonial videos up with quality. </p>
                  <div class="name clearfix">

                    <img src="https://s3.amazonaws.com/mafserverless/home/3.jpg" alt="">
                    <h5 class="t-s">Rashed Kabir</h5>
                    <span class="t-s">Gazipur</span>

                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <img src="https://s3.amazonaws.com/mafserverless/Home+Page+banner+background.svg" alt="Chicago" style="width:100%;">
              <div class="carousel-caption tcarousel-caption">
                <div class="wrapper">
                  <p>Their testimonial videos aren't production quality, but they get the message across, cover
                    useful
                    &amp; relevant information which goes to show you don't need to invest thousands in production
                    get some
                    testimonial videos up with quality. </p>
                  <div class="name clearfix">
                    <img src="https://s3.amazonaws.com/mafserverless/home/3.jpg" alt="">
                    <h5 class="t-s">Rashed Kabir</h5>
                    <span class="t-s">Gazipur</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Left and right controls -->
          <!-- <a class="left carousel-control" href="#tmyCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#tmyCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                          </a> -->
        </div>
      </div>
    </div> <!-- /.main-container -->
  </div> <!-- /.container -->
</div> <!-- /.testimonial-section -->

<!--Questions-->

<!-- <div class="container p-b-80">
  <div class="col-md-12">
    <h2 class="text-center">Your questions answered</h2>
  </div>
  <div class="row p-t-100">
    <div class="col-md-12 ac-sec">

      <div class="col-md-8">
        <h5>What are the pre-requisites to become an agent?</h5>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-1">
        <img src="../../../assets/imgs/Accordion Button.svg" class="ac-btn f-r">
      </div>

    </div>
  </div>
  <div class="row p-t-15">
    <div class="col-md-12 ac-sec">

      <div class="col-md-8">
        <h5>How much money do I need to get started?</h5>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-1">
        <img src="../../../assets/imgs/Accordion Button.svg" class="ac-btn f-r">
      </div>

    </div>
  </div>
  <div class="row p-t-15">
    <div class="col-md-12 ac-sec">

      <div class="col-md-8">
        <h5>What type of support/leadership will be provided during training?</h5>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-1">
        <img src="../../../assets/imgs/Accordion Button.svg" class="ac-btn f-r">
      </div>

    </div>
  </div>
  <div class="row p-t-15">
    <div class="col-md-12 ac-sec">

      <div class="col-md-8">
        <h5>Do I need sales experience to become an agent?</h5>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-1">
        <img src="../../../assets/imgs/Accordion Button.svg" class="ac-btn f-r">
      </div>

    </div>
  </div>
</div> -->

<div class="container p-b-80">
  <div class="col-md-12">
    <h2 class="text-center">Your questions answered</h2>
  </div>
  <div class="row p-t-100">
    <div class="col-md-12 ac-sec">

      <div class="col-md-8">
        <h5>What are the pre-requisites to become an agent?</h5>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-1">
        <img src="../../../assets/imgs/Accordion Button.svg" class="ac-btn f-r" (click)="q1 = !q1" *ngIf="!q1">
        <img src="../../../assets/imgs/Accordion-close-Button.svg" class="ac-btn f-r" (click)="q1 = !q1" *ngIf="q1">
      </div>

    </div>
  </div>
  <!--answer-->
  <div class="row ac-sec" *ngIf="q1">
    <p class="p-l-15 animated bounceInDown">
      Enjoy compensation and advancement opportunities that are unlike anything else in the financial services
      industry.
    </p>
  </div>
  <div class="row p-t-15">
    <div class="col-md-12 ac-sec">

      <div class="col-md-8">
        <h5>How much money do I need to get started?</h5>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-1">
          <img src="../../../assets/imgs/Accordion Button.svg" class="ac-btn f-r" (click)="q2 = !q2" *ngIf="!q2">
          <img src="../../../assets/imgs/Accordion-close-Button.svg" class="ac-btn f-r" (click)="q2 = !q2" *ngIf="q2">
      </div>

    </div>
  </div>
  <!--answer2-->
  <div class="row ac-sec" *ngIf="q2">
    <p class="p-l-15 animated bounceInDown">
      Enjoy compensation and advancement opportunities that are unlike anything else in the financial services
      industry.
    </p>
  </div>
  <div class="row p-t-15">
    <div class="col-md-12 ac-sec">

      <div class="col-md-8">
        <h5>What type of support/leadership will be provided during training?</h5>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-1">
          <img src="../../../assets/imgs/Accordion Button.svg" class="ac-btn f-r" (click)="q3 = !q3" *ngIf="!q3">
          <img src="../../../assets/imgs/Accordion-close-Button.svg" class="ac-btn f-r" (click)="q3 = !q3" *ngIf="q3">
      </div>

    </div>
  </div>
  <!--answer3-->
  <div class="row ac-sec" *ngIf="q3">
    <p class="p-l-15 animated bounceInDown">
      Enjoy compensation and advancement opportunities that are unlike anything else in the financial services
      industry.
    </p>
  </div>
  <div class="row p-t-15">
    <div class="col-md-12 ac-sec">

      <div class="col-md-8">
        <h5>Do I need sales experience to become an agent?</h5>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-1">
          <img src="../../../assets/imgs/Accordion Button.svg" class="ac-btn f-r" (click)="q4 = !q4" *ngIf="!q4">
          <img src="../../../assets/imgs/Accordion-close-Button.svg" class="ac-btn f-r" (click)="q4 = !q4" *ngIf="q4">
      </div>

    </div>
  </div>
  <!--answer-->
  <div class="row ac-sec" *ngIf="q4">
    <p class="p-l-15 animated bounceInDown">
      Enjoy compensation and advancement opportunities that are unlike anything else in the financial services
      industry.
    </p>
  </div>
</div>

<!--Enter a world-->

<!-- 
			=============================================
				More About Us
			============================================== 
			-->
<div class="more-about-us p-b-150 p-t-100">
  <div class="image-box abt-image-box">
    <svg version="1.1" class="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      width="854" height="632">
      <clipPath class="clip1">
        <use xlink:href="#shape-one" />
      </clipPath>
      <g clip-path="url(#shape-one)">

        <image width="854" height="632" href="https://s3.amazonaws.com/mafserverless/Group+144.svg" class="image-shape">
        </image>

      </g>
    </svg>
  </div>
  <!-- <div class="theme-shape-three"></div> -->
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-offset-5">
        <div class="main-content ">
          <h2>Enter a world of new opportunities</h2>
          <p class="animated bounceInRight p-e-w ">Ready to take the next step with us? Start working today with one of
            our
            associates & discover that your dreams can start here</p>
          <button class="btn btn-default btn-lg submit-btn">GET STARTED</button>

        </div> <!-- /.main-content -->
      </div> <!-- /.col- -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div> <!-- /.more-about-us -->