<!-- <link rel="stylesheet" href="../../../assets/css/style.css">
<link rel="stylesheet" href="../../../assets/css/responsive.css"> -->
<footer class="bg-one">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="footer-logo">
          <!-- <a href="index.html"><img src="../../../assets/images/logo/logo.png" alt="Logo"></a> -->
          <img class="max-logo" src="https://s3.amazonaws.com/mafserverless/MAF-logo.png">

        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 footer-list">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="#" class="tran3s">How it Works</a></li>
          <li><a href="#" class="tran3s">Guarantee</a></li>
          <li><a href="#" class="tran3s">Security</a></li>
          <li><a href="#" class="tran3s">Report Bug</a></li>
          <li><a href="#" class="tran3s">Pricing</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 footer-list">
        <h4>About Us</h4>
        <ul>
          <li><a href="#" class="tran3s">About </a></li>
          <li><a href="#" class="tran3s">Jobs</a></li>
          <li><a href="#" class="tran3s">Team</a></li>
          <li><a href="#" class="tran3s">Testimonials</a></li>
          <li><a href="#" class="tran3s">Blog</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 footer-subscribe">
        <h4>Subscribe Us</h4>
        <form action="#">
          <input type="text" placeholder="Enter your mail">
        </form>
        <ul>
          <li><a href="" class="tran3s"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="" class="tran3s"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="" class="tran3s"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
          <li><a href="" class="tran3s"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div> <!-- /.row -->

    <div class="bottom-footer clearfix">
      <!-- <ul class="float-right">
        <li><h3><span class="timer p-color" data-from="0" data-to="8997" data-speed="5000" data-refresh-interval="50">0</span> Products</h3></li>
        <li><h3><span class="timer p-color" data-from="0" data-to="53701" data-speed="5000" data-refresh-interval="50">0</span> Members</h3></li>
        <li><h3><span class="timer p-color" data-from="0" data-to="1110" data-speed="5000" data-refresh-interval="50">0</span> Shops</h3></li>
      </ul> -->
      <p class="float-right">Designed & Developed by <b>DeveloperOnRent</b></p>
      <p class="float-left">&copy; <b>MAX AGENT FINANCIAL.</b>All rights reserved</p>
    </div>
  </div> <!-- /.container -->
</footer>