/* You can add global styles to this file, and also import other style files */
/**Common Css*/
.cursor {
    cursor: pointer;
  }
  .loader{
    position: absolute;
      left: 45%;
      bottom: 30%;
  }
  .p-l-15{
      padding-left:15px;
    }
    .p-t-30{
      padding-top:30px;
    }
    .heading {
        font-size:40px;
        font-weight:bold;
    }
    .sub-heading{
        font-size: 25px;
        font-weight: bold;
    }
    /**Helper classes*/
    .m-100{
        margin:100px;
    }
    .m-130{
        margin:130px
    }
    .p-0{
        padding:0px;
    }
    .m-t-15{
        margin-top:15px;
    }
    .m-t-70{
        margin-top:70px;
    }
    .m-t-b-30{
        margin-top:30px;
        margin-bottom:30px;
    }
    
    /**Validation*/
    .invalid-feedback{
        color:red;
        font-weight: bold;
    }
    /*Banner**/
    .register-banner {
        position: relative;
    }
    .r-b-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 30px 15px 0px 15px;
        border-radius: 4px;
        text-align: center;
        border: 0px;
        background: white;
    }
    .mafbackground {
        background-color: #3d73d2 !important;
    }
    .white {
        color:#ffffff !important;
    }
    .f-b {
        font-weight: bold;
    }

    /**Theme css*/
  /**
  * Importing necessary  Styles.
  **/
